body{
    background-color: rgb(50, 120, 200);
}
p{
    color: rgb(245, 225, 124);
}
h1{
    
    color: #f0fff6;
}
li{
    color: #ff00ff;
}
#css{
    background-color: rgb(00,00,255);
}
.heading{
    color: #ff0000;
}
button{
    background-color: #ff0000;
}
